#!/usr/bin/env bash

# ---  navigation  --- #

alias ..="cd .."
alias db="cd ~/Dropbox"
alias dl="cd ~/Downloads"

alias la="ls -lah"
alias ll="ls -l"
alias ladate="la -t"


# ---  colorize  --- #

alias grep='grep --color=auto'


# ---  git  --- #

alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gd='git diff'
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias go='git checkout'
alias got='git'  # prevent typo
alias gs='git status'
alias gsu='git status -uno'


# ---  docker  --- #

alias stop-all-containers='docker stop $(docker ps -a -q)'
alias remove-all-containers='docker rm $(docker ps -aq)'
alias remove-untagged-images='docker rmi `docker images | grep "^<none>" | awk "{print \\$3}"`'


# ---  shell  --- #

alias bashreload=". ~/.bash_profile"
