#!/usr/bin/env zsh

# ---  navigation  --- #

alias ..="cd .."
alias db="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias docs="cd ~/Documents"

alias la="ls -lah"
alias ll="ls -l"
alias ladate="la -t"


# ---  colorize  --- #

alias grep='grep --color=auto'


# ---  git  --- #

alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gd='git diff'
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias go='git checkout'
alias got='git'  # prevent typo
alias gs='git status'
alias gsu='git status -uno'
alias gsmu='git submodule update --init --recursive'


# ---  docker  --- #

alias stop-all-containers='docker stop $(docker ps -a -q)'
alias remove-all-containers='docker rm $(docker ps -aq)'
alias remove-untagged-images='docker rmi `docker images | grep "^<none>" | awk "{print \\$3}"`'
alias remove-dangling-volumes='docker volume rm $(docker volume ls -qf dangling=true)' # only no longer connected to any containers


# ---  shell  --- #

alias zshreload=". ~/.zshrc"


# ---  editor  --- #

alias dotfiles="code ~/workspace/dotfiles"
alias shell_env_local="code ~/.shell_env_local "
