#!/usr/bin/env zsh

# ---  oh-my-zsh  --- #

export ZSH="/Users/andrey/.oh-my-zsh"


# ---  language environment  --- #

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8


# ---  iruby notebook  --- #

export LIBZMQ_PATH=$(brew --prefix zeromq)/lib
export LIBCZMQ_PATH=$(brew --prefix czmq)/lib


# ---  postgresql binaries  --- #

export PATH="/usr/local/opt/postgresql@9.5/bin:$PATH"


# ---  Homebrew  --- #

export HOMEBREW_NO_ANALYTICS=1  # prevent brew to collect statistic
