[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh/custom/themes/rho"]
	path = oh-my-zsh/custom/themes/rho
	url = https://github.com/andriyreznik/rho-zsh-theme.git
