name: Build

on: push

jobs:
  build:
    name: Build
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - uses: actions/setup-python@v6
      with:
        python-version: '3.9'

    - name: Print python version
      run: |
        python --version

    - name: Intall dotfiles
      run: |
        ./install
